.naslov {
    text-align: center;
    color: purple;
}

nav button{
    width: 20%;
}

.buttons {
    background-color: purple;
    color: white;
    border: 1px solid black;;
    display:inline-block;
    width: 20%;
    height: 30px;
    margin-bottom:-10px;
    border-radius: 5px;
}

form{
    display:flex;
    margin-bottom: 30px;
}
  
textarea {
    display:inline-block;
    width:80%;
    resize:none;
}


.color-plum{
    background-color:plum;
    color: white;
    border: 1px solid black;;
    width: 150px;
    padding: 5px;
    border-radius: 5px;
}

ul {
    list-style: none;
}

li {
    border: 1px solid black;
    border-radius: 5px;
    width: 40%;
    margin: 5px;
    padding: 5px;
    background-color: white;

}

.liRight {
    margin-left: 50%;
}

#prikazPoruka {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 70%;
    border: 1px solid purple;
    background-color: plum;
}

#inpColor {
    margin: 2px;
    width: 250px;
}

.inputText {
    margin: 2px;
    height: 20px;
    border-color: purple;
    width: 250px;
}

#notificationPar {
    background-color: plum;
    font-size: 18px;
    color: black;
    height: 30px;
    text-align: center;
    width: 300px;
    border-radius: 10px;
    border: 2px solid purple;
}

i {
    margin-left: 95%;
}

@media only screen and (max-width: 900px) {
    #prikazPoruka {
        width: 100%;
    }
    

}

@media only screen and (max-width: 700px) {
    .buttons{
        width: 100%;
        margin-bottom: 5px;
    }

    .color-plum{
        width: 100%;
        margin-bottom: 5px;
    }
form {
    display: block;
}

    .inputText {
        width: 60%;
        margin-top: 15px;
    }
}