*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('slike/background.jpg');
    background-size: cover;
}
h1{
    color: #ff16b1;
    text-align: center;
    margin-top: 50px;
    font-size: 40px;
}
form {
    margin: 50px 0px 0px 200px;
    color: white;
    font-size: 18px;
}

legend {
    color: #ff16b1;
    font-size: 22px;
    margin: 20px 10px 10px 10px;
}

input[type="number"]{
    width: 200px;
    height: 22px;
    margin: 2px;
    border: 1px solid palevioletred;
    background-color: rgb(255, 253, 253);
}
input[type="checkbox"]{
    margin: 2px;
}
input[type="button"],[type="reset"]{
    width: 100px;
    padding: 7px;
    font-size: 16px;
    color: rgb(238, 9, 85);
    background-color: white;
    border: 1px solid palevioletred;
    margin-top: 20px;
}
input[type="button"]:hover,[type="reset"]:hover{
    background-color: palevioletred;
    color: white;
    cursor: pointer;
}
h3{
    color: #ff16b1;
    font-size: 22px;
    padding-left: 100px;
    margin-top: 20px;
}
div {
    margin-top: 10px;
    margin-left: 100px;
}
img {
    width: 100px;
}
p {
    color: #ff16b1;
    font-size: 20px;
    padding-left: 100px;
    margin: 5px 0px 5px 0px;
}
h2{
    color: #ff16b1;
    font-size: 26px;
    padding-left: 100px;
    margin: 10px 0px 10px 0px;
}